@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html {
  /* Enable smooth scrolling */
  scroll-behavior: smooth;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for IE, Edge*/
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
